<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Vue Email List</title>
</head>
<body>
    
    <div class="main-wrapper" id="app">

        <!-- ? mi riporto il data title -->
        <h1>{{title}}</h1>

        <!-- ? condizione vera per cui compare il load fino ai risultati -->
        <ul v-if="isLoad">

            <!-- ? ciclo array mail del risultato -->
            <li v-for="mail in mails">{{mail}}</li>

        </ul>

        <!-- ? spazio del load + condizione ELSE che scompare ai risultati generati -->
        <div class="loader" v-else>
            <span class="loader"></span>
        </div>
    </div>

    <script src="assets/js/app.js"></script>
</body>
</html>